h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

li {
	margin-bottom: 1em;
	background-color: LightGrey;
}

tr#chatviestit td {
	display:block;
}

.hidden {
  display: none;
}