h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-style: italic;
}

li {
	margin-bottom: 1em;
	background-color: LightGrey;
}

table#chatviestit td {
	display:block;
}

table#kalenteri td {
	border: medium solid black;
}

.hidden {
  display: none;
}

#wrapper {
  position:relative;
  width: 20em;
}
#scroll {
  height: 200px;
  overflow:auto;  
  margin-top:20px;
}
#wrapper table {
  width:100%;

}